<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Caesar Cipher</title>
</head>
<body>

<h3>Eyes might deceive, things might be hidden..</h3>
<div style="display: none;">
    {{ text }}
</div>

</body>
</html>